body {
  background-color: #000;
  margin: 0;
  font-family: monospace;
  color: #fff;
}
#fps-counter {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  z-index: 1000;
}
#outcome {
  z-index: 1000;
  position: fixed;
  top: 2em;
  left: 0.5em;
}
#root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#col-sim {
  display: grid;
  min-width: 0px;
  min-height: 0px;
}
#col-editor {
  display: grid;
  grid-template-rows: 1fr auto auto;
}
#col-editor > * {
  padding: 8pt;
}
#editor {
  resize: none;
  font-size: large;
  background-color: #222;
  color: #fff;
  border: none;
}
#output {
  white-space: pre-wrap;
  font-size: small;
}
#debug {
  white-space: pre-wrap;
  font-size: small;
  max-height: 30vh;
  overflow-y: auto;
}
[data-status="ok"] {
  background-color: #040;
}
[data-status="error"] {
  background-color: #600;
}
[data-status="none"] {
  background-color: #222;
}
td {
  padding: 0 5px;
}
