body {
  background-color: #222;
  margin: 0;
  font-family: monospace;
  color: #fff;
}
code {
  background-color: #444;
  border: #111 1px solid;
  padding: 0.15em;
  border-radius: 0.25em;
}
a {
  color: inherit;
}

/* Menu */
#menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #222;
  z-index: 200;
  padding: 2em;
  display: none;
}
#menu-options {
  padding: 0;
}
#menu-options > li {
  list-style-type: none;
  padding: 0em 2em 1em 2em;
  cursor: pointer;
}
#menu-cmd {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-family: monospace;
}
#menu-cmd[data-status="error"] {
  color: #a00;
}

/* Main */
#root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 6fr 1fr;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#col-sim {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  min-width: 0px;
  min-height: 0px;
}
#col-dev {
  grid-row: 1 / span 2;
  grid-column: 2;
  border-left: #111 2px solid;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}
#row-instructions {
  grid-row: 2;
  grid-column: 1;
  padding: 1em;
  border-top: #111 2px solid;
  overflow-y: auto;
}

/* Game */
.overlay {
  position: fixed;
  z-index: 100;
  background-color: #222;
}
#overlay-fps {
  top: 0.5em;
  left: 0.5em;
}
#overlay-outcome {
  top: 2em;
  left: 0.5em;
}
#overlay-dev {
  bottom: 0.5em;
  left: 0.5em;
}
/* Dev panel */
#col-dev > * {
  padding: 0.75em;
}
#controls {
  border-bottom: #111 2px solid;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
}
#controls > button {
  margin: 0em 0.5em 0em 0em;
  width: 2em;
  padding: 0.5em;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}
#controls > button:hover {
  background-color: #666;
}
#controls > button:active {
  background-color: #888;
  transform: scale(0.95);
}
#input-search {
  outline: none;
  background-color: #222;
  color: #fff;
  border: 1px solid #666;
  font-family: monospace;
}
#search-results {
  position: absolute;
  border: 1px solid #666;
  background-color: #222;
  z-index: 100;
}
#search-results > div {
  padding: 0.5em;
  margin-top: 0.5em;
  border-bottom: 1px solid #666;
  font-size: small;
}
#search-results p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#editor-container {
  font-size: small;
  display: grid;
  padding: 0;
  overflow: hidden;
}
.prism-code-editor {
  background-color: #222 !important;
}
#output {
  white-space: pre-wrap;
  font-size: small;
}
#debug {
  white-space: pre-wrap;
  font-size: small;
  max-height: 30vh;
  overflow-y: auto;
}
#debug td {
  padding: 0 5px;
}
[data-status="ok"] {
  background-color: #040;
}
[data-status="error"] {
  background-color: #600;
}
[data-status="warning"] {
  background-color: rgb(122, 58, 5);
}

/* Instructions */
#instructions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 100%;
  font-size: small;
  cursor: default;
}
#instructions > li {
  margin: 0 0 0.75em 0;
  line-height: 1.5;
}
#instructions > li:not(:first-child):not(:hover) {
  color: #777;
  font-style: italic;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #333;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
